attrs==24.2.0
Automat==24.8.1
cffi==1.17.1
constantly==23.10.4
cryptography==44.0.0
fuzzywuzzy==0.18.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
Levenshtein==0.26.1
pycparser==2.22
pyOpenSSL==24.3.0
python-Levenshtein==0.26.1
PyYAML==6.0.2
RapidFuzz==3.10.1
tomli==2.2.1
Twisted==24.11.0
typing_extensions==4.12.2
zope.interface==7.2
